.left-image {
    height: auto;
    display: block;
    
    object-fit: cover;
}

.right-image {
    max-width: 30%;
    height: auto;
    display: block;
    object-fit: cover;
   
}

.image-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

    position: relative;
    /* padding-bottom: 0; */
    
    object-fit: cover;
}

.image-container img{
    width:300px;
}