@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Metrophobic&display=swap');
.descr-style{
    font-family: 'Inconsolata', monospace;
    color:#2A4704;
    font-size: medium;
}