.home-contact{
    display:flex;
    padding-left: 59%;
    justify-content: space-between;
    width: 15%;
}
.navbar-space{
    width: 300px;
    }
.navbar-style{
    display:flex;
    justify-content:end;
    align-items: center;
 
}
.navbar-buttons {
    display: flex;
    margin-left: 500px;
}